{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "rules": {
        "indent": ["error", "tab"],
        "quotes": ["error", "single"],
        "semi": ["error", "never"],
        "no-var": ["error"],
        "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }]
    }
}
